<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APPLICATION</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $(document).ready(function () {
            let comentariosScroll = document.getElementById('comentarios-scroll');
            function atualizarCenas() {
                $.ajax({
                    url: '/api/criar-cena', // substitua pela URL correta da sua rota de API
                    method: 'GET',
                    success: function (data) {
                        // Limpa o conteúdo anterior das cenas
                        $('.cenas').empty();

                        // Itera sobre os dados recebidos e adiciona cada cena à div
                        data.forEach(function (cena) {

                            if (cena.perfil.length > 10){
                                var divCena = $('<div>');
                            var divPerfil = $('<div>', {
                                class: 'upperfil'
                            });
                            var divSubPerfil = $('<div>', {
                                class: 'subperfil'
                            });
                            var imgPerfil = $('<img>', {
                                src: cena.perfil,
                                id: 'perfilCene',
                                class: 'icon',
                                width: '50',
                                height: '50'
                            });
                            var pUsername = $('<p>', {
                                id: 'userCene',
                                class: 'nomeCena',
                                text: cena.username
                            
                            });
                            var imgCena = $('<img>', {
                                src: cena.img,
                                id: 'imgDaCena',
                                width: '250'
                            });
                            var pTexto = $('<p>', {
                                id: 'textoCena',
                                text: cena.texto
                            });

                            divSubPerfil.append(imgPerfil, pUsername);
                            divPerfil.append(divSubPerfil);
                            divCena.append();
                            $('.cenas').prepend(divPerfil, imgCena,pTexto);
                            } else {
                                var divCena = $('<div>');
                            var divPerfil = $('<div>', {
                                class: 'upperfil'
                            });
                            var divSubPerfil = $('<div>', {
                                class: 'subperfil'
                            });
                            var imgPerfil = $('<img>', {
                                src: 'https://pbs.twimg.com/media/EpYXtEsWEBA3pLr.jpg',
                                id: 'perfilCene',
                                class: 'icon',
                                width: '50',
                                height: '50'
                            });
                            var pUsername = $('<p>', {
                                id: 'userCene',
                                text: cena.username
                            
                            });
                            var imgCena = $('<img>', {
                                src: cena.img,
                                id: 'imgDaCena',
                                width: '250'
                            });
                            var pTexto = $('<p>', {
                                id: 'textoCena',
                                text: cena.texto
                            });

                            divSubPerfil.append(imgPerfil, pUsername);
                            divPerfil.append(divSubPerfil);
                            divCena.append();
                            $('.cenas').prepend(divPerfil, imgCena,pTexto);
                            }
                            
                        });
                    },
                    error: function (error) {
                        console.error('Erro ao carregar as cenas:', error);
                    }
                });
            }
            function atualizarConteudo() {
                $.ajax({
                    url: '/api/comentarios',
                    method: 'GET',
                    success: function (data) {
                        // Limpar o conteúdo anterior dos comentários
                        $('#comentarios-scroll').empty();

                        // Iterar sobre os dados recebidos e adicionar cada comentário à div
                        data.forEach(function (comentario) {
                            var divComentario = $('<div class="msg">');
                            if (comentario.perfil.length > 10){
                              var imgPerfil = $('<img>', {
                                class: 'icon',
                                src: comentario.perfil,
                                width: '50',
                                height: '50'
                            });
                            var strongUsername = $('<strong style="font-size: 10px; margin-left: 5px">').text(comentario.username);
                            var pComentario = $('<p>').text(comentario.coment);
                            var h5CreatedAt = $('<h5>').text(comentario.createdAt);
                            var divSpecial = $('<div>')
                            divSpecial.append(imgPerfil, strongUsername)
                            divComentario.append(divSpecial, pComentario, h5CreatedAt);
                            $('#comentarios-scroll').append(divComentario);  
                            } else {
                                var imgPerfil = $('<img>', {
                                class: 'icon',
                                src: 'https://pbs.twimg.com/media/EpYXtEsWEBA3pLr.jpg',
                                width: '50',
                                height: '50'
                            });
                            var strongUsername = $('<strong style="font-size: 10px; margin-left: 5px">').text(comentario.username);
                            var pComentario = $('<p>').text(comentario.coment);
                            var h5CreatedAt = $('<h5>').text(comentario.createdAt);
                            var divSpecial = $('<div>')
                            divSpecial.append(imgPerfil, strongUsername)
                            divComentario.append(divSpecial, pComentario, h5CreatedAt);
                            $('#comentarios-scroll').append(divComentario);  
                            }
                            
                        });
                        
                    },
                    error: function (error) {
                        console.error('Erro ao carregar os comentários:', error);
                    }
                });
            }

            $('#crea').submit(function (event) {
                event.preventDefault();

                var formData = $(this).serialize();

                $.ajax({
                    url: '/api/criar-cena',
                    method: 'POST',
                    data: formData,
                    success: function (data) {
                        $('textarea').val('');

                    },
                    error: function (error) {
                        console.error('Erro ao enviar o comentário:', error);
                    }
                })
            })
            $('#coment').submit(function (event) {
                event.preventDefault(); // Evita o envio do formulário tradicional

                var formData = $(this).serialize(); // Serializa os dados do formulário

                $.ajax({
                    url: '/api/comentarios',
                    method: 'POST',
                    data: formData,
                    success: function (data) {
                        $('#coment-input').val(''); // Limpa o campo de comentário após o envio
                        atualizarConteudo(); // Atualiza os comentários exibidos na página
                        let comentariosScroll = document.getElementById('comentarios-scroll');

                        // Mantém o scroll sempre para baixo
                        comentariosScroll.scrollTop = comentariosScroll.scrollHeight;
                    },
                    error: function (error) {
                        console.error('Erro ao enviar o comentário:', error);
                    }
                });
            });
            setInterval(atualizarConteudo, 100);
            setInterval(atualizarCenas, 100);
            setTimeout(() => {
                let comentariosScroll = document.getElementById('comentarios-scroll');

                        // Mantém o scroll sempre para baixo
                comentariosScroll.scrollTop = comentariosScroll.scrollHeight;
            }, 600);
        });
        // Obtém o elemento de scroll
        const showLeftButton = document.getElementById('showLeftButton');
        const showRightButton = document.getElementById('showRightButton');
        const leftElement = document.getElementById('left');
        const rightElement = document.getElementById('right');

        showLeftButton.addEventListener('click', () => {
            leftElement.classList.toggle('visible');
        });

        showRightButton.addEventListener('click', () => {
            rightElement.classList.toggle('visibleR');
        });

    });
</script>
<style>
    body {
        position: relative;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Verdana;
        background-color: rgb(73, 73, 73);
        color: white;
        background-image: url('https://images4.alphacoders.com/104/1049330.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
    }

    body::-webkit-scrollbar {
        width: 10px;
        /* Largura da barra de rolagem */
    }

    body::-webkit-scrollbar-track {
        background-color: #222;
        /* Cor de fundo da área de rastreamento */
    }

    body::-webkit-scrollbar-thumb {
        background-color: #555;
        /* Cor do polegar da barra de rolagem */
    }

    body::-webkit-scrollbar-thumb:hover {
        background-color: #888;
        /* Cor do polegar da barra de rolagem ao passar o mouse */
    }

    #title {
        
        margin: 0;
        z-index: 5;
    }

    .relativo {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
    }

    .Perfil {
        border: 1px solid white;
        color: black;
        font-weight: bold;
        border-radius: 10px;
        background-color: #dadada;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 250px;
        height: 300px;
    }

    .icon {
        border: 2px solid black;
        border-radius: 100px;
    }

    #right {
        border: 1px solid black;
        border-radius: 5px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        top: 8px;
        padding: 5px;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        z-index: 6;
    }

    #left {
        border: 1px solid black;
        border-radius: 5px;
        position: absolute;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 100vh;
        top: 8px;
        background-color: rgb(255, 255, 255);
        z-index: 9;
    }

    #logout {
        margin-top: 30px;
        z-index: 5;
    }

    #btnClearComment {
        margin: 10px;
        height: 40px;
    }

    #btnUpdateComment {
        margin-bottom: 20px;
        height: 40px;
    }

    #coment {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin: 5px;
    }

    #coment button {
        border-radius: 10px;
        margin: 2px;
    }

    #coment textarea {
        height: 30px;
    }

    #enviarcoment {
        margin: 10px;
        height: 40px;
    }

    textarea {
        width: 100%;
        padding: 5px;
        border: none;
        overflow: hidden;
    }

    .botoes {
        justify-content: center;
        width: 100%;
        height: 80px;
        display: flex;
        z-index: 10;
    }

    .h4 {
        border: 1px solid rgb(255, 255, 255);
        padding: 7px;
        border-radius: 20px;

        background-color: rgb(10, 10, 10);
    }

    .cena {
        margin-top: 10px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        padding: 10px;
        background-color: rgb(10, 10, 10);
        font-family: "Montserrat", sans-serif;
    }

    .cena form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h5 {
        font-size: 10px;
        margin-bottom: 10px;
    }

    h6 {
        font-size: 10px;
    }

    p {
        margin-bottom: 2px;
    }

    .btn-outline-success {
        margin-top: 20px;
    }

    .comment-area {
        height: 80vh;
        /* Defina a altura desejada para a área de comentários */
        overflow-y: auto;
        overflow-x: hidden;
        /* Adiciona uma barra de rolagem quando necessário */
        border: 1px solid #ffffff;
        /* Adicione uma borda para melhorar a aparência */
        padding: 10px;
        /* Adicione um espaçamento interno */
        background-color: #dadada;
        border-radius: 5px;
        width: 100%;
    }

    *::-webkit-scrollbar {
        width: 5px;
        /* Largura da barra de rolagem */
    }

    *::-webkit-scrollbar-track {
        background-color: #222;
        /* Cor de fundo da área de rastreamento */
    }

    *::-webkit-scrollbar-thumb {
        background-color: #555;
        /* Cor do polegar da barra de rolagem */
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: #888;
        /* Cor do polegar da barra de rolagem ao passar o mouse */
    }

    .comment-area::-webkit-scrollbar {
        width: 10px;
        /* Largura da barra de rolagem */
    }

    .comment-area::-webkit-scrollbar-track {
        background-color: #222;
        /* Cor de fundo da área de rastreamento */
    }

    .comment-area::-webkit-scrollbar-thumb {
        background-color: #555;
        /* Cor do polegar da barra de rolagem */
    }

    .comment-area::-webkit-scrollbar-thumb:hover {
        background-color: #888;
        /* Cor do polegar da barra de rolagem ao passar o mouse */
    }

    p {
        color: white;
    }
    .nomeCena{
        font-size: 10px;
    }
    input {
        background-color: #131313;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 1px solid black; 
        padding: 10px;
    }

    .txt {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid black; 
        background-color: rgb(73, 73, 73);
        color: black;
        height: 70px;
        padding: 10px;
        font-weight: bold;
    }

    .center {
        padding: 5px;
        width: 100vw;
        height: 100vh; 
        background-color: rgb(22, 22, 22);
        border: 3px solid rgb(10, 10, 10);
        display: flex;
        overflow-x: hidden;
        flex-direction: column;
        align-items: center;
    }

    .subperfil {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .hidden {
        display: flex;
        left: -400px;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .visible {
        display: flex;
        left: 0px;
        opacity: 1;
        transition: all 0.3s ease;
    }

    .hiddenR {
        display: flex;
        right: -400px;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .visibleR {
        display: flex;
        right: 0px;
        opacity: 1;
        transition: all 0.3s ease;
    }

    .cenas {
        width: 100%;
        height: 400px;
        overflow-x: hidden;
        padding-left: 20px;
        padding-right: 20px; 
        padding-top: 5px;
        padding-bottom: 30px; 
        background-color: rgb(10, 10, 10);
        border-left: 5px solid rgb(0, 0, 0);
        border-right: 5px solid rgb(0, 0, 0);
        border-radius: 10px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(https://i.pinimg.com/564x/03/b2/dd/03b2dd4aa6c20f38cbf0f39ed231939c.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
    }

    .botoess {
        display: flex;

    }

    #perfilCene {
        margin-top: 20px;
    }

    #delCene {
        left: 165px;
        z-index: 5;
    }

    main {
        margin-left: 5px;
        margin-right: 5px; 
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        position: absolute;
        width: 100vw;
        overflow: hidden;
    }

    #imgDaCena {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 250px;
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;  
        
    }

    #textoCena {
        font-family: Helvetica;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black; 
        background-color: #222;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 250px;
        padding: 10px;
        font-size: 13px; 
        
    }

    #showLeftButton {
        border-radius: 360px;
        position: absolute;
        left: -20px;
        bottom: 60%;
        z-index: 10;
    }

    #showRightButton {
        border-radius: 360px;
        position: absolute;
        right: -20px;
        bottom: 60%;
        z-index: 7;
    }

    .upperfil {
        display: flex;
        justify-content: center;
    }

    #userCene{
        font-weight: bold;
    }

    .multiarea {
        border: 1px solid black;
        border-radius: 10px;
        background-color: rgb(22, 22, 22);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 250px;
        height: 200px;
    }
    #send:hover{
        background-color: #0c0c0c;
    }
    .msg{
        border-radius: 10px; 
        margin-bottom: 5px; 
        padding: 10px; 
        background-color:rgb(255, 255, 255);
        border: 2px solid rgb(193, 193, 193);
        color: black;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .msg p{
        color: black;
    }
    .nomeCena{
        font-size: 10px;         
    }
</style>
<main>

    <body>
        <div class="hidden" id="left">
            <div class="Perfil">
                <a id="icon" href="/configUser/<%=conta.id%>"><img class="icon" src="<%=conta.perfil%>" width="150"
                    height="150"></a>
            <h6 style="text-align: center; font-weight: bold;">Sua conta<p></p><img src="https://i.pinimg.com/originals/fa/26/d5/fa26d5039d77c00ea8040bba9ff091fc.png"
                    width="12px">
                <%=conta.yen%>
                <img src="https://cdn-icons-png.flaticon.com/512/785/785126.png" width="15px">
                <%=conta.gems%>
            </h6>
            <h4 style="font-size: 20px; font-weight: bolder; font-family: 'Segoe UI',Roboto;"class="profile-username">
                <%=conta.username%>
            </h4>
                
            <div class="multiarea">
                <code>< / Em Desenvolvimento ></code>
                <!--
                <form action="/loja" method="post">
                    <input type="hidden" name="id" value="<%=conta.id%>">
                    <button type="submit" class="btn btn-outline-warning">Loja</button>
                </form>
                -->
            </div>
            <a href="/login"><button class="btn btn-danger" id="logout">LogOut</button></a>
        </div>
        </div>
        <div class="center">
            <div class="cenas">
                <%for (var i = cena.length - 1; i >= 0; i--){ %>
                    <div class="upperfil">
                        <div class="subperfil">
                            <img src="<%=cena[i].perfil%>" id="perfilCene" class="icon" width="50" height="50">
                            <strong><p id="userCene" style="font-weight: 1000px; font-size: 10px">
                                <%=cena[i].username%>
                            </p></strong>
                        </div>
                    </div>
                    <img id="imgDaCena" src="<%=cena[i].img%>%>" width="260">
                    <p id="textoCena">
                        <%=cena[i].texto%>
                    </p>
                    <% } %>
            </div>
            <div class="cena">
                <form id="crea" action="/api/criar-cena" method="POST">
                    <input type="hidden" name="username" placeholder="Username" autocomplete="off"
                        value="<%=conta.username%>">
                    <input type="hidden" name="perfil" placeholder="Perfil (URL)" autocomplete="off"
                        value="<%=conta.perfil%>" required>
                    <input style="width: 258px;" type="text" name="img" placeholder="Imagem (URL)" autocomplete="off">
                    <input type="hidden" name="fala" placeholder="Digite sua fala aqui" autocomplete="off">
                    <textarea class="txt" name="texto"
                        placeholder="Texto, adicione seus atributos ao final ou durante a cena." autocomplete="off"
                        required></textarea>
                    <button type="submit" class="btn btn-outline-warning" style="margin-top: 10px">Criar Cena</button>
                </form>
            </div>
            <form action="/deleteCena" method="post">
                <input type="hidden" name="username" value="<%=conta.username%>">
                <input type="hidden" name="password" value="<%=conta.password%>">
                <button class="btn btn-danger" type="submit" id="delCene">Deletar Cena</button>
            </form>
        </div>
        </div>
        <div>
            <div class="hiddenR" id="right">
                <img src="https://cdn-icons-png.flaticon.com/256/6738/6738367.png" style="padding: 10px; width: 30%">
                <div id='comentarios-scroll' class="comment-area">
                    <!-- Aqui é onde os comentários serão exibidos -->
                    <% comentario.forEach(function(comentario) { %>
                        <div>
                            <img class="icon" src="<%= comentario.perfil %>" width="50" height="50"><strong>
                                <%=comentario.username%>
                            </strong>:<p>
                                <%= comentario.coment %>
                            </p>
                            <h5>
                                <%= comentario.createdAt%>
                            </h5>
                        </div>
                        <% }); %>
                </div>
                <form id="coment" action="/api/comentarios" method="post">
                    <input type="hidden" id="username" name="username" value="<%=conta.username%>">
                    <input type="hidden" id="perfil" name="perfil" value="<%=conta.perfil%>">
                    <textarea id="coment-input" name="coment" placeholder="Enviar comentário..." style="width: 100%"></textarea>
                    <div class="botoess">
                        <button type="submit" class="btn" style="background-color:rgb(10, 10, 10);"><img src="https://cdn-icons-png.flaticon.com/512/4698/4698102.png" width="30px"></button>
                    </div>
                </form>
                <form action="/clear-comment" method="POST">
                    <input type="hidden" name="username" value="<%=conta.username%>">
                    <input type="hidden" name="password" value="<%=conta.password%>">
                    <!-- <button type="submit" class="btn-clear btn btn-danger">Deletar Ultimo Comentario</button> -->
            </div>
            </form>
        </div>

        <button id="showLeftButton" class="btn btn-outline-dark">
            >></button>
        <button id="showRightButton" class="btn btn-outline-dark">
            <<</button>

    </body>
</main>

</html>