<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APPLICATION</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $(document).ready(function () {
            let comentariosScroll = document.getElementById('comentarios-scroll');

            
            function atualizarConteudo() {
                $.ajax({
                    url: '/api/comentarios',
                    method: 'GET',
                    success: function (data) {
                        // Limpar o conteúdo anterior dos comentários
                        $('#comentarios-scroll').empty();

                        // Iterar sobre os dados recebidos e adicionar cada comentário à div
                        data.forEach(function (comentario) {
                            var divComentario = $('<div>');
                            if (comentario.perfil.length > 10){
                              var imgPerfil = $('<img>', {
                                class: 'icon',
                                src: comentario.perfil,
                                width: '50',
                                height: '50'
                            });
                            var strongUsername = $('<strong>').text(comentario.username);
                            var pComentario = $('<p>').text(comentario.coment);
                            var h5CreatedAt = $('<h5>').text(comentario.createdAt);

                            divComentario.append(imgPerfil, strongUsername, ':', pComentario, h5CreatedAt);
                            $('#comentarios-scroll').append(divComentario);  
                            } else {
                                var imgPerfil = $('<img>', {
                                class: 'icon',
                                src: 'https://pbs.twimg.com/media/EpYXtEsWEBA3pLr.jpg',
                                width: '50',
                                height: '50'
                            });
                            var strongUsername = $('<strong>').text(comentario.username);
                            var pComentario = $('<p>').text(comentario.coment);
                            var h5CreatedAt = $('<h5>').text(comentario.createdAt);

                            divComentario.append(imgPerfil, strongUsername, ':', pComentario, h5CreatedAt);
                            $('#comentarios-scroll').append(divComentario);  
                            }
                            
                        });
                        
                    },
                    error: function (error) {
                        console.error('Erro ao carregar os comentários:', error);
                    }
                });
            }
            function obterProdutos() {
                const xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        const resposta = JSON.parse(xhr.responseText);
                        const produtos = resposta.produtos;
                        exibirProdutos(produtos); // Chama a função para exibir os produtos no HTML
                    }
                };
                xhr.open('GET', '/api/produtos', true);
                xhr.send();
            }

            function exibirProdutos(produtos) {
                const itensContainer = document.querySelector('.itens');

                // Limpa o conteúdo atual do container
                itensContainer.innerHTML = '';

                // Itera sobre os produtos e cria o HTML para cada produto
                produtos.forEach(produto => {
                    var nomeCompleto = produto.nome.split(" ")
                    if (nomeCompleto.includes('EVENTO')){
                        if (produto.preço > <%= conta.gems %>){
                    const itemHtml = `
        <div class="produto">
        <img style="border-radius: 30px; margin-top: 10px;"src="${produto.foto}" width="250">
        <h6 style="margin-bottom: 0; margin-top: 10px;">${produto.nome}</h6>
        <div class="preço">
          <img src="https://cdn-icons-png.flaticon.com/512/785/785126.png" width="20px">
          <code style="color: red">${produto.preço}</code>
      </div>
      <a href="#"><h6 class="btn btn-outline-secondary" style="width: 100px">buy</h6></a>
      </div>
    `;
                    itensContainer.innerHTML += itemHtml;
                
                    } else {
                        const itemHtml = `
      <div class="produto">
      <img style="border-radius: 30px; margin-top: 10px;" src="${produto.foto}" width="250">
      <h6 style="margin-bottom: 0; margin-top: 10px;">${produto.nome}</h6>
      <div class="preço">
        <img src="https://cdn-icons-png.flaticon.com/512/785/785126.png" width="20px">
        <code style="color: green">${produto.preço}</code>
    </div>
    <div>
        <form action="/comprar/item" method="post">
            <input type="hidden" name="username" value="<%=conta.username%>"></input>
            <input type="hidden" name="foto" value="${produto.foto}"></input>
            <a href="#"><button type="submit" style="background:none; border: none;"><h6 class="btn btn-success" style="width: 100px">buy</h6></button></a>
        </form>  
    </div>
    </div>
  `;
                    itensContainer.innerHTML += itemHtml;
                    }
                } else {
                    if (produto.preço > <%= conta.yen %>){
                    const itemHtml = `
        <div class="produto">
        <img style="border-radius: 30px; margin-top: 10px;"src="${produto.foto}" width="250">
        <h6 style="margin-bottom: 0; margin-top: 10px;">${produto.nome}</h6>
        <div class="preço">
          <img src="https://i.pinimg.com/originals/fa/26/d5/fa26d5039d77c00ea8040bba9ff091fc.png" width="20px">
          <code style="color: red">${produto.preço}</code>
      </div>
      <a href="#"><h6 class="btn btn-outline-secondary" style="width: 100px">buy</h6></a>
      </div>
    `;
                    itensContainer.innerHTML += itemHtml;
                } else {
                    const itemHtml = `
      <div class="produto">
      <img style="border-radius: 30px; margin-top: 10px;" src="${produto.foto}" width="250">
      <h6 style="margin-bottom: 0; margin-top: 10px;">${produto.nome}</h6>
      <div class="preço">
        <img src="https://i.pinimg.com/originals/fa/26/d5/fa26d5039d77c00ea8040bba9ff091fc.png" width="20px">
        <code style="color: green">${produto.preço}</code>
    </div>
    <div>
        <form action="/comprar/item" method="post">
            <input type="hidden" name="username" value="<%=conta.username%>"></input>
            <input type="hidden" name="foto" value="${produto.foto}"></input>
            <a href="#"><button type="submit" style="background:none; border: none;"><h6 class="btn btn-success" style="width: 100px">buy</h6></button></a>
        </form>  
    </div>
    </div>
  `;
                    itensContainer.innerHTML += itemHtml;
                }
            }
                });

    }
            $('#coment').submit(function (event) {
        event.preventDefault(); // Evita o envio do formulário tradicional

        var formData = $(this).serialize(); // Serializa os dados do formulário

        $.ajax({
            url: '/api/comentarios',
            method: 'POST',
            data: formData,
            success: function (data) {
                $('#coment-input').val(''); // Limpa o campo de comentário após o envio
                atualizarConteudo(); // Atualiza os comentários exibidos na página
                let comentariosScroll = document.getElementById('comentarios-scroll');

                // Mantém o scroll sempre para baixo
                comentariosScroll.scrollTop = comentariosScroll.scrollHeight;
            },
            error: function (error) {
                console.error('Erro ao enviar o comentário:', error);
            }

        });
    });
    setInterval(obterProdutos, 500);
    setInterval(atualizarConteudo, 500);
        });
    // Obtém o elemento de scroll
    const showLeftButton = document.getElementById('showLeftButton');
    const showRightButton = document.getElementById('showRightButton');
    const leftElement = document.getElementById('left');
    const rightElement = document.getElementById('right');

    showLeftButton.addEventListener('click', () => {
        leftElement.classList.toggle('visible');
    });

    showRightButton.addEventListener('click', () => {
        rightElement.classList.toggle('visibleR');
    });
    });
</script>
<style>
    body {
        position: relative;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Verdana;
        background-color: rgb(73, 73, 73);
        color: white;
        background-image: url('https://images4.alphacoders.com/104/1049330.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
    }

    body::-webkit-scrollbar {
        width: 10px;
        /* Largura da barra de rolagem */
    }

    body::-webkit-scrollbar-track {
        background-color: #222;
        /* Cor de fundo da área de rastreamento */
    }

    body::-webkit-scrollbar-thumb {
        background-color: #555;
        /* Cor do polegar da barra de rolagem */
    }

    body::-webkit-scrollbar-thumb:hover {
        background-color: #888;
        /* Cor do polegar da barra de rolagem ao passar o mouse */
    }

    #title {
        position: fixed;
        margin: 0;
        z-index: 5;
    }

    .relativo {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
    }

    .Perfil {
        border: 1px solid black;
        border-radius: 10px;
        background-color: rgb(22, 22, 22);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 250px;
        height: 300px;
    }

    .icon {
        border: 2px solid black;
        border-radius: 100px;
    }

    #right {
        border: 1px solid black;
        border-radius: 5px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        top: 8px;
        padding: 20px;
        height: 700px;
        background-color: rgb(37, 37, 37);
        z-index: 6;
    }

    #left {
        border: 1px solid black;
        border-radius: 5px;
        position: absolute;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 700px;
        top: 8px;
        background-color: rgb(37, 37, 37);
        z-index: 9;
    }

    #logout {
        margin-top: 30px;
        z-index: 5;
    }

    #btnClearComment {
        margin: 10px;
        height: 40px;
    }

    #btnUpdateComment {
        margin-bottom: 20px;
        height: 40px;
    }

    #coment {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #coment button {
        border-radius: 360px;
    }

    #coment textarea {
        height: 30px;
    }

    #enviarcoment {
        margin: 10px;
        height: 40px;
    }

    textarea {
        width: 258px;
        border-radius: 10px;
    }

    .botoes {
        justify-content: center;
        width: 100%;
        height: 80px;
        display: flex;
        z-index: 10;
    }

    .h4 {
        border: 1px solid rgb(255, 255, 255);
        padding: 7px;
        border-radius: 20px;
        background-color: rgb(10, 10, 10);
    }

    .cena {
        margin-top: 20px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid rgb(85, 85, 85);
        border-radius: 10px;
        padding: 10px;
        background-color: rgb(22, 22, 22);
        font-family: "Montserrat", sans-serif;
    }

    .cena form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h5 {
        font-size: 7px;
        margin-bottom: 10px;
    }

    h6 {
        text-align: center;
        font-size: 10px; 
        width: 270px;
    }

    p {
        margin-bottom: 2px;
    }

    .btn-outline-success {
        margin-top: 20px;
    }

    .comment-area {
        height: 400px;
        /* Defina a altura desejada para a área de comentários */
        overflow: auto;
        /* Adiciona uma barra de rolagem quando necessário */
        border: 1px solid #000000;
        /* Adicione uma borda para melhorar a aparência */
        padding: 10px;
        /* Adicione um espaçamento interno */
        background-color: rgb(22, 22, 22);
        border-radius: 5px;
        width: 100%;
    }

    *::-webkit-scrollbar {
        width: 5px;
        /* Largura da barra de rolagem */
    }

    *::-webkit-scrollbar-track {
        background-color: #222;
        /* Cor de fundo da área de rastreamento */
    }

    *::-webkit-scrollbar-thumb {
        background-color: #555;
        /* Cor do polegar da barra de rolagem */
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: #888;
        /* Cor do polegar da barra de rolagem ao passar o mouse */
    }

    .comment-area::-webkit-scrollbar {
        width: 10px;
        /* Largura da barra de rolagem */
    }

    .comment-area::-webkit-scrollbar-track {
        background-color: #222;
        /* Cor de fundo da área de rastreamento */
    }

    .comment-area::-webkit-scrollbar-thumb {
        background-color: #555;
        /* Cor do polegar da barra de rolagem */
    }

    .comment-area::-webkit-scrollbar-thumb:hover {
        background-color: #888;
        /* Cor do polegar da barra de rolagem ao passar o mouse */
    }

    p {
        color: white;
    }

    input {
        background-color: #131313;
        color: white;
        border-radius: 10px;
    }

    .txt {
        border-radius: 10px;
        background-color: rgb(73, 73, 73);
        color: black;
        height: 70px;
        font-weight: bold;
    }

    .center {
        margin-top: 5px;
        padding: 5px;
        width: 320px;
        height: 700px;
        background-color: rgb(22, 22, 22);
        border-radius: 10px;
        border: 3px solid rgb(10, 10, 10);
        display: flex;
        overflow-x: hidden;
        flex-direction: column;
        align-items: center;
    }

    .subperfil {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .hidden {
        display: flex;
        left: -400px;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .visible {
        display: flex;
        left: 0px;
        opacity: 1;
        transition: all 0.3s ease;
    }

    .hiddenR {
        display: flex;
        right: -400px;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .visibleR {
        display: flex;
        right: 0px;
        opacity: 1;
        transition: all 0.3s ease;
    }

    .cenas {
        width: 100%;
        height: 400px;
        overflow-x: hidden;
        padding: 30px;
        background-color: rgb(10, 10, 10);
        border: 3px solid rgb(85, 85, 85);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botoess {
        display: flex;

    }

    #perfilCene {
        margin-top: 20px;
    }

    #delCene {
        left: 165px;
        z-index: 5;
    }

    .itens {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        padding: 30px;
        background-color: rgb(10, 10, 10);
        border: 3px solid rgb(85, 85, 85);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    main {
        margin: 20px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        height: 100%;
        position: absolute;
        max-width: 320px;
        overflow: hidden;
    }

    #imgDaCena {
        border-radius: 10px;
        border: 1px solid black;
    }

    #textoCena {
        font-family: Helvetica;
        border: 1px solid black;
        background-color: #222;
        border-radius: 10px;
        width: 260px;
        padding: 10px;
    }

    #showLeftButton {
        border-radius: 360px;
        position: absolute;
        left: -22px;
        bottom: 60%;
        z-index: 10;
    }

    #showRightButton {
        border-radius: 360px;
        position: absolute;
        right: -22px;
        bottom: 60%;
        z-index: 7;
    }

    .upperfil {
        display: flex;
        justify-content: center;
    }

    .multiarea {
        border: 1px solid black;
        border-radius: 10px;
        background-color: rgb(22, 22, 22);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 250px;
        height: 200px;
    }
    .profile-username{
        text-align: center;
    }
    .produto{
        display: flex; 
        flex-direction: column;
        align-items: center;
        
        padding: 10px; 
        margin-bottom: 10px; 
        border-radius: 10px; 
        background-color: rgb(19, 19, 19); 
    
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
<main>

    <body>


        <div class="hidden" id="left">
            <div class="Perfil">
                <a id="icon" href="/configUser/<%=conta.id%>"><img class="icon" src="<%=conta.perfil%>" width="150"
                        height="150"></a>
                <h6 style="text-align: center;">Sua conta<p></p><img src="https://i.pinimg.com/originals/fa/26/d5/fa26d5039d77c00ea8040bba9ff091fc.png"
                        width="12px">
                    <%=conta.yen%>
                    <img src="https://cdn-icons-png.flaticon.com/512/785/785126.png" width="15px">
                    <%=conta.gems%>
                </h6>
                <h4 style="font-size: 20px"class="profile-username">
                    <%=conta.username%>
                </h4>
                <form action="/login/content" method="POST">
                    <input type="hidden" name="username" value="<%=conta.username%>">
                    <input type="hidden" name="password" value="<%=conta.password%>">
                    <input type="hidden" name="perfil" value="<%=conta.perfil%>">
                    <button type="submit" class="btn-clear btn btn-outline-warning" id="btnUpdateComment">Voltar ao
                        Battlefield</button>
            </div>
            </form>
            <div class="multiarea">

            </div>
            <a href="/login"><button class="btn btn-danger" id="logout">LogOut</button></a>
        </div>
        </div>
        <div class="center">
            <h3 style="font-family: 'Courier New', Courier, monospace" >LOJA</h3>
            <div class="itens">

            </div>
        </div>
        </div>
        <div>
            <div class="hiddenR" id="right">
                <p class="h4" style="font-family: 'Courier New', Courier, monospace';">Comentários</p>
                <div id='comentarios-scroll' class="comment-area">
                    <!-- Aqui é onde os comentários serão exibidos -->
                    <% comentario.forEach(function(comentario) { %>
                        <div>
                            <img class="icon" src="<%= comentario.perfil %>" width="50" height="50"><strong>
                                <%=comentario.username%>
                            </strong>:<p>
                                <%= comentario.coment %>
                            </p>
                            <h5>
                                <%= comentario.createdAt%>
                            </h5>
                        </div>
                        <% }); %>
                </div>
                <form id="coment" action="/api/comentarios" method="post">
                    <input type="hidden" id="username" name="username" value="<%=conta.username%>">
                    <input type="hidden" id="perfil" name="perfil" value="<%=conta.perfil%>">
                    <textarea id="coment-input" name="coment" placeholder="Enviar comentário..."></textarea>
                    <div class="botoess">
                        <button type="submit" class="btn btn-success">></button>
                    </div>
                </form>
                <form action="/clear-comment" method="POST">
                    <input type="hidden" name="username" value="<%=conta.username%>">
                    <input type="hidden" name="password" value="<%=conta.password%>">
                    <button type="submit" class="btn-clear btn btn-danger">Deletar</button>
            </div>
            </form>
        </div>

        <button id="showLeftButton" class="btn btn-outline-warning">
            >></button>
        <button id="showRightButton" class="btn btn-outline-warning">
            <<</button>

    </body>
</main>

</html>